# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile


/vcpkg/
/vcpkg_installed/

# Build artifacts
/cmake-build-*/
./build

# Other
.DS_Store


*.app
*.dSYM
*.DS_STORE

/.vs

!**/*.c
!**/*.cpp
!**/*.h
!**/*.hpp
!**/*.cc
!**/*.cxx
!**/*.rs
!**/*.go
!**/*.py
!**/*.sh
!**/*.js
!**/*.ts
!**/*.java
!**/*.kt
!**/*.m
!**/*.swift
!**/*.cs
!**/*.html
!**/*.css
!**/*.json
!**/*.xml
!**/*.yml
!**/*.yaml
!**/*.md
!**/*.txt

*.exe
*.dll
*.pdb

/.idea

*.out
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.ncb
*.sdf
*.suo

/build
/bin
/dist
/target
/release
/debug

CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake


.vscode/

.AppleDouble
.LSOverride
Icon?
._*
.cmake/

./.VSCodeCounter
.idea/
